@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'inter';
    src: url('/fonts/LinotypeDidotBold.otf') format('opentype');

  }


  @keyframes gradientShift {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }
  
  body.bg-ddpgradient {
    background: linear-gradient(90deg, #a500ce, #000000);
    background-size: 200% 200%;
    background-attachment: fixed;
    animation: gradientShift 3s ease forwards;
  }
  